footer {
  padding: 2rem;
  /* background-color: var(--light-color); */
  font-size: var(--body-font-size-s);
  text-align: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  padding: 0 !important;
  font-size: 16px !important;
  line-height: 1.8em !important;
}

footer .footer a:any-link{
  color: #000;
  margin-left: 20px;
}

footer .footer img {
  margin-left: 20px;
  vertical-align: middle;
}